footer{
    #link_name{
        color:white !important;
        font-size: 1rem;
        display: flex;
    }
    #links a{
        font-size: 1rem;
        text-decoration: none;
        color:#bfbfbf !important;
        line-height: 2;
        display: flex;
        
    }
 
}