footer{
    position: relative;
    background-color: #121212;
    border-top: 12px solid #121212;
    #link_name{
        color:white !important;
        font-size: 1rem;
        display: flex;
    }
    #links a{
        font-size: 1rem;
        text-decoration: none;
        color:#bfbfbf !important;
        line-height: 2;
        display: flex;
        
    }
 
}
aside{
    background-color: #121212;
    border-bottom: 1px solid #383838;
    display: block;
    color: white;
    padding: 25px;
    text-align: center;
  
  .container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1540px;

  .flag{
      vertical-align: middle;
      width: 1vw;

  .text-my-own-color{
      color: #383838 !important;
      
      
  }    
  } 
  }
  }