@import 'var';
#nav-small{
    @media screen and (max-width:1130px){
        display: none;
    }
    .col-12{
        background-color: black;
        text-align: right;
        border-bottom: 2px solid rgb(72, 72, 72);
        a{
            color: white;
            font-size: 0.7rem;
            font-stretch: expanded;
            font-weight: 700;
            margin: 0rem 0.8rem;
            text-decoration: none;
            &:hover{
                color: $font_clr;
            }
        }
    }
}

#nav-big{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .col-4.nav{
        @media screen and (max-width:1130px){
            display: none;
        }
        color: white;
        margin-left: 2rem;
        padding: 0;
        ul{
            padding-left: 0;
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
            li{
                padding: 2.3rem 1rem;
                text-align: center;
                display: block;
                line-height: 5px;
                height: 60px;
                margin: 0rem 1rem;
                cursor: pointer;
                img{
                    margin-left: 0.5rem;
                }
            }
        }
    }
}
.col-6.login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: auto;
    div{
        color: white;
        cursor: pointer;
        p{
            display: inline;
        }
        img{
            margin-left: 0.3rem;
        }
        &:hover{
            filter: invert(0.4);
        }
        @media screen and (max-width:1130px){
            .ikone{
                margin: 0rem 5rem;
            }
        }
        @media screen and (max-width:768px){
            p{
                display: none;
            }
            .ikone{
                margin: 0rem 4rem;
            }
        }
    }
    #sign{
        @media screen and (max-width:990px){
            display: none;
        }
        padding: 0rem 0.2rem;
        cursor: pointer;
        color: $orange_btn;
        border: 2px solid $orange_btn;
        margin-bottom: 0;
        &:hover{
            background-color: $orange_btn;
            color: black;
        }
    }
}
#hamburger{
    @media screen and (min-width:1130px){
        display: none;
    }
    @media screen and (max-width:360px){
        top: 20%;
    }
    position: absolute;
    top: 25%;
    left: 3%;
    z-index: 2;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.lajna{
    display: block;
    background-color: white;
    width: 100%;
    margin: 0.4rem 0rem;
    height: 0.1rem;
}
#gg,#soft{
    transition: 0.3s all ease;
}
#gg img,#soft img{
    transition: 0.3s ease;
}
#gg-menu{
    background-color: $nav_gray;
    height: 3.3em;
    display: none;
    justify-content: center;
    align-items: center;
    a{
        padding: 2em;
        text-decoration: none;
        color: white;
    }
}
#logo{
    width: 450px;
    margin-left: 0;
    @media screen and (max-width: 1130px){
        width: 250px;
        padding: 1rem;
        margin-left: 70px;
    }
    @media screen and (max-width:768px) {
        width: 200px;
        margin-left: 0px;
    }
    @media screen and (max-width:360px) {
        width: 100px;
        padding: 1rem;
        margin-left: 0;
    }
}
#soft-menu{
    background-color: $nav_gray;
    height: 3.3em;
    display: none;
    justify-content: center;
    align-items: center;
    a{
        padding: 2em;
        text-decoration: none;
        color: white;
    }
}
.okret{
    transform: rotate(180deg);
}
.bg-nav{
    background-color: $nav_gray;
}