#nav-small .col-12 {
  background-color: black;
  text-align: right;
  border-bottom: 2px solid #484848;
}

#nav-small .col-12 a {
  color: white;
  font-size: 0.7rem;
  font-stretch: expanded;
  font-weight: 700;
  margin: 0rem 0.8rem;
  text-decoration: none;
}

#nav-small .col-12 a:hover {
  color: #A3A3A2;
}

#nav-big {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#nav-big .col-5.logo {
  padding: 1rem;
  padding-left: 2rem;
}

#nav-big .col-4.nav {
  color: white;
  margin-left: -2rem;
  padding: 0;
}

#nav-big .col-4.nav ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-big .col-4.nav ul li {
  padding: 2.3rem 1rem;
  text-align: center;
  display: block;
  line-height: 5px;
  height: 60px;
  margin: 0rem 1rem;
  cursor: pointer;
}

#nav-big .col-4.nav ul li img {
  margin-left: 0.5rem;
}

.col-3.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 0.8rem;
  font-weight: 600;
  font-stretch: extra-condensed;
}

.col-3.login div {
  color: white;
  cursor: pointer;
}

.col-3.login div img {
  margin-left: 0.3rem;
}

.col-3.login div:hover {
  -webkit-filter: invert(0.4);
          filter: invert(0.4);
}

.col-3.login #sign {
  padding: 0rem 0.2rem;
  cursor: pointer;
  color: #FC4E03;
  border: 2px solid #FC4E03;
  margin-bottom: 0;
}

.col-3.login #sign:hover {
  background-color: #FC4E03;
  color: black;
}

#gg, #soft {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#gg-menu {
  background-color: #494949;
  height: 3.3em;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gg-menu a {
  padding: 2em;
  text-decoration: none;
  color: white;
}

#gg img, #soft img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#soft-menu {
  background-color: #494949;
  height: 3.3em;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#soft-menu a {
  padding: 2em;
  text-decoration: none;
  color: white;
}

.okret {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.bg-nav {
  background-color: #494949;
}
/*# sourceMappingURL=nav.css.map */
